page-login {
    .some-class {
    background-color: red;
   }  
 
   ion-content {
    background: blue;
  }

 /* h2 {
    color: color($colors, primary);
    font-size: 7.7rem;
    margin:100px 0 0;
    small {
      color: lighten(color($colors, primary), 20%);
      font-weight: normal;
    }
  }*/
}